In [19]:
import pandas as pd
target='cpu'

In [35]:
df = pd.read_csv(f'../data/{target}-times.csv')
df.columns

Index(['elapsed_real_time_seconds', 'kernel_cpu_seconds', 'user_cpu_seconds',
       'cpu_percentage', 'max_resident_set_size_kb', 'system_page_size_bytes',
       'major_page_faults', 'minor_page_faults',
       'involuntary_context_switches', 'voluntary_context_switches',
       'filesystem_input_reads', 'filesystem_output_writes',
       'command_name_args'],
      dtype='object')

In [36]:
is_rust = df['command_name_args'].str.contains('rust')
is_jax = df['command_name_args'].str.contains('jax')
is_python = ~is_rust & ~is_jax
df.loc[is_rust,'version'] = 'rust'
df.loc[is_python,'version'] = 'python'
df.loc[is_jax,'version'] = 'jax'

# Time and CPU

In [39]:
df.groupby('version')['elapsed_real_time_seconds'].describe()

         count     mean        std    min      25%     50%      75%     max
version
jax      100.0  57.0903  18.390552  18.24  43.3150  55.215  70.3725  108.73
python   100.0  70.2688  28.762633  12.67  49.0275  66.525  87.8275  167.39
rust     100.0  59.4698  37.878883   7.07  32.5525  52.435  82.1925  167.16

In [40]:
df.groupby('version')['user_cpu_seconds'].describe()

         count      mean        std    min      25%      50%       75%     max
version
jax      100.0   81.5506  27.748929  21.40  61.3875   79.155   99.6925  157.47
python   100.0  134.7385  56.781459  21.42  93.6650  126.960  168.5425  326.60
rust     100.0  114.7998  74.685530  11.97  61.5175  101.005  159.2250  325.76

In [41]:
df.groupby('version')['kernel_cpu_seconds'].describe()

         count    mean       std   min     25%    50%     75%   max
version
jax      100.0  1.8044  0.429633  0.86  1.5300  1.830  2.0200  3.32
python   100.0  0.8131  0.177176  0.41  0.6700  0.800  0.9425  1.29
rust     100.0  1.0152  0.619678  0.32  0.6275  0.855  1.2225  3.39

In [42]:
df['cpu_percentage'] = df['cpu_percentage'].str[:-1].astype(int)
df.groupby('version')['cpu_percentage'].describe()

         count    mean       std    min     25%    50%    75%    max
version
jax      100.0  144.65  4.400126  122.0  142.00  145.0  147.0  154.0
python   100.0  191.26  3.718966  172.0  190.00  192.0  194.0  196.0
rust     100.0  190.94  7.608900  163.0  190.75  194.0  196.0  197.0

# Memory

'max_resident_set_size_kb',
'system_page_size_bytes',
'major_page_faults',
'minor_page_faults',

In [43]:
df.groupby('version')['max_resident_set_size_kb'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,677355.40,3538.817671,669388.0,674673.0,677848.0,680090.0,683128.0
python,100.0,456579.40,3798.770513,446568.0,453853.0,456870.0,459840.0,463444.0
rust,100.0,388956.12,3655.672485,378744.0,386213.0,389376.0,391440.0,396268.0

In [44]:
df.groupby('version')['major_page_faults'].describe()

         count   mean         std  min  25%  50%  75%     max
version
jax      100.0  10.97  107.984048  0.0  0.0  0.0  0.0  1080.0
python   100.0   1.74   16.594157  0.0  0.0  0.0  0.0   166.0
rust     100.0  21.07  209.286293  0.0  0.0  0.0  0.0  2093.0

In [45]:
df.groupby('version')['minor_page_faults'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,192265.60,15357.248405,146958.0,186231.50,189067.0,194007.5,247930.0
python,100.0,136466.28,8774.264637,120267.0,130304.25,135718.0,141480.5,168378.0
rust,100.0,260354.85,144758.710739,106405.0,162734.25,214470.5,300973.5,857154.0

# SO

'involuntary_context_switches',
'voluntary_context_switches', 
'filesystem_input_reads',
'filesystem_output_writes',

In [46]:
df.groupby('version')['involuntary_context_switches'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,151421.41,67730.229578,5383.0,105538.00,159081.5,191380.0,396939.0
python,100.0,352.64,76.022793,196.0,292.75,341.5,401.5,554.0
rust,100.0,315.88,148.438627,102.0,211.50,284.5,392.0,758.0

In [47]:
df.groupby('version')['voluntary_context_switches'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,261382.12,82449.460590,64198.0,204150.00,257528.5,307053.00,568965.0
python,100.0,6548.31,1924.582146,3085.0,5067.75,6871.0,7515.25,10402.0
rust,100.0,3490.05,1547.255278,1950.0,1955.75,3823.5,4235.25,10791.0

In [48]:
df.groupby('version')['filesystem_input_reads'].describe()

         count     mean           std  min  25%  50%  75%       max
version
jax      100.0  3627.20  36116.897472  0.0  0.0  0.0  0.0  361184.0
python   100.0   904.64   8961.609284  0.0  0.0  0.0  0.0   89624.0
rust     100.0  6611.28  65938.311805  0.0  0.0  0.0  0.0  659400.0

In [49]:
df.groupby('version')['filesystem_output_writes'].describe()

         count  mean  std  min  25%  50%  75%  max
version
jax      100.0   8.0  0.0  8.0  8.0  8.0  8.0  8.0
python   100.0   8.0  0.0  8.0  8.0  8.0  8.0  8.0
rust     100.0   8.0  0.0  8.0  8.0  8.0  8.0  8.0

# Rewards

In [50]:
df = pd.read_csv(f'../data/{target}-rewards.csv').drop('seed', axis=1)
df.columns

Index(['version', 'training_steps', 'reward_mean', 'reward_std'], dtype='object')

In [51]:
df.groupby('version')['training_steps'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,13260.0,3973.701427,4000.0,10000.0,13000.0,15000.0,27000.0
python,100.0,10190.0,3664.448365,2000.0,8000.0,10000.0,12000.0,20000.0
rust,100.0,13270.0,7935.160217,2000.0,7000.0,13000.0,18000.0,31000.0

In [52]:
df.groupby('version')['reward_mean'].describe()

         count     mean        std         min    25%    50%    75%    max
version
jax      100.0  495.186  14.743943  413.200000  500.0  500.0  500.0  500.0
python   100.0  495.895  13.164379  403.000000  500.0  500.0  500.0  500.0
rust     100.0  497.166   9.820216  439.799988  500.0  500.0  500.0  500.0

In [53]:
df.groupby('version')['reward_std'].describe()

         count      mean        std  min  25%  50%  75%         max
version
jax      100.0  9.906617  28.224288  0.0  0.0  0.0  0.0  138.305495
python   100.0  9.715275  30.818392  0.0  0.0  0.0  0.0  194.000515
rust     100.0  6.980920  22.750225  0.0  0.0  0.0  0.0  120.500465