In [9]:
import pandas as pd
target='gpu'

In [10]:
df = pd.read_csv(f'../data/{target}_times.csv').drop('id', axis=1)
df.columns

Index(['version', 'real', 'user', 'sys'], dtype='object')

In [11]:
df.groupby('version')['real'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
python,100.0,350.41007,257.380541,10.957,191.407,358.6360,491.94625,1772.501
rust,100.0,135.06513,52.038489,36.737,104.502,128.1865,154.23925,307.877

In [12]:
df.groupby('version')['user'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
python,100.0,344.43336,255.111116,8.628,187.03800,352.8895,484.30125,1756.599
rust,100.0,263.01561,103.148746,68.223,202.42975,249.5315,301.20450,605.497

In [13]:
df.groupby('version')['sys'].describe()

         count     mean       std    min    25%     50%     75%    max
version
python   100.0  3.89720  1.593490  1.340  2.902  4.1670  4.9775  9.476
rust     100.0  2.26486  0.420587  1.441  2.006  2.2185  2.4395  3.544

In [14]:
df = pd.read_csv(f'../data/{target}_rewards.csv').drop('seed', axis=1)
df.columns

Index(['version', 'test_reward', 'std'], dtype='object')

In [15]:
df.groupby('version')['test_reward'].describe()

         count        mean        std    min    25%    50%    75%    max
version
python   100.0  489.039000  23.384606  377.7  486.7  500.0  500.0  500.0
rust     100.0  497.720999  10.444198  408.0  500.0  500.0  500.0  500.0

In [16]:
df.groupby('version')['std'].describe()

         count       mean        std  min  25%  50%        75%         max
version
python   100.0  20.141208  36.162370  0.0  0.0  0.0  27.882597  152.000658
rust     100.0   4.909873  19.479329  0.0  0.0  0.0   0.000000  140.542511