In [70]:
import pandas as pd
target='release_cpu'

In [71]:
df = pd.read_csv(f'../data/{target}_times.csv').drop('id', axis=1)
df.columns

Index(['version', 'real', 'user', 'sys'], dtype='object')

In [72]:
df.groupby('version')['real'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
python,100.0,395.18883,279.296728,8.225,111.483,433.4625,609.914,1099.199
rust,100.0,116.26143,45.762791,31.466,90.124,107.4755,134.604,267.193

In [73]:
df.groupby('version')['user'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
python,100.0,780.07697,555.100256,11.630,215.80925,856.3635,1206.40775,2179.472
rust,100.0,227.42500,90.923206,58.723,175.28450,209.6500,264.97400,527.025

In [74]:
df.groupby('version')['sys'].describe()

         count     mean       std    min      25%     50%      75%    max
version
python   100.0  1.78095  0.944510  0.342  0.81425  1.9915  2.50725  3.973
rust     100.0  1.09514  0.262873  0.577  0.93775  1.0635  1.22475  1.907

In [75]:
df = pd.read_csv(f'../data/{target}_rewards.csv').drop('seed', axis=1)
df.columns

Index(['version', 'test_reward', 'std'], dtype='object')

In [76]:
df.groupby('version')['test_reward'].describe()

         count        mean        std    min    25%    50%    75%    max
version
python   100.0  491.078000  21.958618  394.9  500.0  500.0  500.0  500.0
rust     100.0  497.720999  10.444198  408.0  500.0  500.0  500.0  500.0

In [77]:
df.groupby('version')['std'].describe()

         count       mean        std  min  25%  50%  75%         max
version
python   100.0  12.902874  29.341298  0.0  0.0  0.0  0.0  160.548092
rust     100.0   4.909873  19.479329  0.0  0.0  0.0  0.0  140.542511