In [13]:
import pandas as pd
target='rust-param/cpu'

In [14]:
df = pd.read_csv(f'../data/{target}-times.csv')
df.columns

Index(['elapsed_real_time_seconds', 'kernel_cpu_seconds', 'user_cpu_seconds',
       'cpu_percentage', 'max_resident_set_size_kb', 'system_page_size_bytes',
       'major_page_faults', 'minor_page_faults',
       'involuntary_context_switches', 'voluntary_context_switches',
       'filesystem_input_reads', 'filesystem_output_writes',
       'command_name_args'],
      dtype='object')

In [15]:
is_rust = df['command_name_args'].str.contains('rust')
is_jax = df['command_name_args'].str.contains('jax')
is_python = ~is_rust & ~is_jax
df['version'] = 'placeholder'
df.loc[is_rust,'version'] = 'rust'
df.loc[is_python,'version'] = 'python'
df.loc[is_jax,'version'] = 'jax'

# Time and CPU

In [16]:
df.groupby('version')['elapsed_real_time_seconds'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,303.4248,10.279790,296.60,299.4325,300.730,303.9325,374.57
python,100.0,416.2337,16.076771,395.73,409.2025,413.925,419.3575,509.67
rust,100.0,65.8173,34.460526,5.64,39.7825,61.980,85.2600,165.14

In [17]:
df.groupby('version')['user_cpu_seconds'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,340.5697,11.357108,333.51,336.1025,337.25,341.0475,420.50
python,100.0,821.8998,31.817624,781.09,808.0025,817.03,828.5725,1006.37
rust,100.0,127.2830,68.318489,7.91,75.5925,119.70,165.8775,324.33

In [8]:
df.groupby('version')['kernel_cpu_seconds'].describe()

         count    mean       std   min     25%    50%     75%    max
version
jax      100.0  9.5449  0.683432  6.91  9.3925  9.580  9.8000  12.34
python   100.0  2.5949  0.113275  2.32  2.5375  2.595  2.6600   3.05
rust     100.0  0.7951  0.266054  0.30  0.6000  0.765  0.9525   1.52

In [7]:
df['cpu_percentage'] = df['cpu_percentage'].str[:-1].astype(int)
df.groupby('version')['cpu_percentage'].describe()

         count    mean        std    min    25%    50%    75%    max
version
jax      100.0  129.27  11.526741   28.0  130.0  131.0  133.0  139.0
python   100.0  191.01   8.185347  130.0  192.0  193.0  194.0  195.0
rust     100.0  194.80   5.665775  145.0  195.0  196.0  197.0  197.0

# Memory

'max_resident_set_size_kb',
'system_page_size_bytes',
'major_page_faults',
'minor_page_faults',

In [8]:
df.groupby('version')['max_resident_set_size_kb'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,678853.92,2542.028172,671772.0,676990.0,678704.0,680904.0,683996.0
python,100.0,461964.36,3732.476832,454504.0,459395.0,461378.0,464411.0,470056.0
rust,100.0,397451.92,5201.043469,384020.0,394559.0,397746.0,400726.0,409708.0

In [9]:
df.groupby('version')['major_page_faults'].describe()

         count   mean         std  min  25%  50%  75%     max
version
jax      100.0  10.68  106.699037  0.0  0.0  0.0  0.0  1067.0
python   100.0   1.66   16.600000  0.0  0.0  0.0  0.0   166.0
rust     100.0  20.85  208.500000  0.0  0.0  0.0  0.0  2085.0

In [10]:
df.groupby('version')['minor_page_faults'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,173257.02,1.121236e+04,139385.0,169876.50,172172.0,180734.25,195353.0
python,100.0,111843.90,9.526376e+03,92247.0,105698.00,109297.0,113901.50,140472.0
rust,100.0,4463762.35,2.656578e+06,279007.0,2072931.25,4307127.0,6865150.50,9594273.0

# SO

'involuntary_context_switches',
'voluntary_context_switches', 
'filesystem_input_reads',
'filesystem_output_writes',

In [11]:
df.groupby('version')['involuntary_context_switches'].describe()

         count     mean         std    min      25%     50%      75%     max
version
jax      100.0  1749.78  833.737473  382.0  1222.50  1605.5  2144.00  7348.0
python   100.0   472.30  101.190440  201.0   427.25   480.5   544.00   690.0
rust     100.0   421.98  123.346599  148.0   317.25   487.5   526.25   554.0

In [12]:
df.groupby('version')['voluntary_context_switches'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,135214.85,35701.921167,29178.0,115623.25,142825.0,158209.00,197548.0
python,100.0,7945.66,1558.590403,3227.0,7079.00,8506.0,9239.00,11222.0
rust,100.0,2473.52,1304.095456,1952.0,1973.50,1994.0,2010.25,12306.0

In [13]:
df.groupby('version')['filesystem_input_reads'].describe()

         count     mean           std  min  25%  50%  75%       max
version
jax      100.0  3578.16  35767.057444  0.0  0.0  0.0  0.0  357672.0
python   100.0   898.40   8984.000000  0.0  0.0  0.0  0.0   89840.0
rust     100.0  6596.08  65960.800000  0.0  0.0  0.0  0.0  659608.0

In [14]:
df.groupby('version')['filesystem_output_writes'].describe()

         count  mean       std  min  25%  50%  75%   max
version
jax      100.0  8.00  0.000000  8.0  8.0  8.0  8.0   8.0
python   100.0  8.16  1.125642  8.0  8.0  8.0  8.0  16.0
rust     100.0  8.00  0.000000  8.0  8.0  8.0  8.0   8.0

# Rewards

In [15]:
df = pd.read_csv(f'../data/{target}-rewards.csv').drop('seed', axis=1)
df.columns

Index(['version', 'training_steps', 'reward_mean', 'reward_std'], dtype='object')

In [16]:
df.groupby('version')['training_steps'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,36174.08,10133.772630,6000.0,32000.0,38000.0,42250.00,50176.0
python,100.0,26531.76,8895.125272,2000.0,23000.0,27000.0,32000.00,50176.0
rust,100.0,38399.17,14219.071759,6000.0,26000.0,49647.0,49922.75,49997.0

In [17]:
df.groupby('version')['reward_mean'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,465.516,102.516670,60.3,495.975000,500.000000,500.0,500.0
python,100.0,495.253,19.311406,337.6,500.000000,500.000000,500.0,500.0
rust,100.0,308.654,186.176740,24.0,108.325001,299.899994,500.0,500.0

In [18]:
df.groupby('version')['reward_std'].describe()

         count       mean        std  min  25%       50%       75%         max
version
jax      100.0  10.039423  26.881047  0.0  0.0  0.000000  3.529710  157.089147
python   100.0   6.537233  20.557888  0.0  0.0  0.000000  0.000000  110.048898
rust     100.0  12.004015  28.306002  0.0  0.0  3.215504  8.917887  188.233368