In [1]:
import pandas as pd
target='sb3-param/cpu'

In [2]:
df = pd.read_csv(f'../data/{target}-times.csv')
df.columns

Index(['elapsed_real_time_seconds', 'kernel_cpu_seconds', 'user_cpu_seconds',
       'cpu_percentage', 'max_resident_set_size_kb', 'system_page_size_bytes',
       'major_page_faults', 'minor_page_faults',
       'involuntary_context_switches', 'voluntary_context_switches',
       'filesystem_input_reads', 'filesystem_output_writes',
       'command_name_args'],
      dtype='object')

In [3]:
is_rust = df['command_name_args'].str.contains('rust')
is_jax = df['command_name_args'].str.contains('jax')
is_python = ~is_rust & ~is_jax
df['version'] = 'placeholder'
df.loc[is_rust,'version'] = 'rust'
df.loc[is_python,'version'] = 'python'
df.loc[is_jax,'version'] = 'jax'

# Time and CPU

In [4]:
df.groupby('version')['elapsed_real_time_seconds'].describe()

         count     mean        std    min      25%    50%      75%     max
version
jax      100.0  42.5462  15.059553  12.71  37.0525  43.56  47.6050  157.94
python   100.0  74.2007  24.042107   9.65  65.0800  74.70  88.3175  133.14
rust     100.0  72.9219  26.633409  12.39  48.6200  89.12  94.2900  127.21

In [5]:
df.groupby('version')['user_cpu_seconds'].describe()

         count      mean        std    min       25%     50%       75%     max
version
jax      100.0   53.1769  13.482675  13.09   46.8750   56.21   61.5825   73.67
python   100.0  141.9475  46.445383  14.24  124.6775  143.87  169.9425  259.48
rust     100.0  135.0622  49.127634  21.08   91.7450  170.55  174.2775  181.01

In [36]:
df.groupby('version')['kernel_cpu_seconds'].describe()

         count    mean       std   min     25%    50%     75%    max
version
jax      100.0  9.5449  0.683432  6.91  9.3925  9.580  9.8000  12.34
python   100.0  2.5949  0.113275  2.32  2.5375  2.595  2.6600   3.05
rust     100.0  0.7951  0.266054  0.30  0.6000  0.765  0.9525   1.52

In [37]:
df['cpu_percentage'] = df['cpu_percentage'].str[:-1].astype(int)
df.groupby('version')['cpu_percentage'].describe()

         count    mean       std    min     25%    50%    75%    max
version
jax      100.0  114.99  0.414266  114.0  115.00  115.0  115.0  117.0
python   100.0  197.64  0.482418  197.0  197.00  198.0  198.0  198.0
rust     100.0  191.67  7.307192  145.0  191.75  194.0  195.0  197.0

# Memory

'max_resident_set_size_kb',
'system_page_size_bytes',
'major_page_faults',
'minor_page_faults',

In [38]:
df.groupby('version')['max_resident_set_size_kb'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,674610.88,2371.439631,669196.0,673020.0,674416.0,676646.0,679524.0
python,100.0,457155.40,2285.147645,446408.0,455706.0,457086.0,458811.0,461156.0
rust,100.0,389517.00,2700.937802,380520.0,387639.0,389732.0,391566.0,395168.0

In [39]:
df.groupby('version')['major_page_faults'].describe()

         count  mean       std  min  25%  50%  75%  max
version
jax      100.0  0.00  0.000000  0.0  0.0  0.0  0.0  0.0
python   100.0  0.01  0.100000  0.0  0.0  0.0  0.0  1.0
rust     100.0  0.04  0.315268  0.0  0.0  0.0  0.0  3.0

In [40]:
df.groupby('version')['minor_page_faults'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,170174.33,15216.850246,160848.0,161941.75,162478.0,175973.75,226091.0
python,100.0,122259.01,8841.763108,107059.0,118470.25,120530.5,122440.25,164221.0
rust,100.0,92370.50,8040.697292,83177.0,86649.25,89048.0,96134.00,112537.0

# SO

'involuntary_context_switches',
'voluntary_context_switches', 
'filesystem_input_reads',
'filesystem_output_writes',

In [41]:
df.groupby('version')['involuntary_context_switches'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,657382.07,77936.649429,314636.0,642977.00,666659.5,695008.75,782636.0
python,100.0,1280.37,90.123894,1021.0,1268.00,1293.0,1319.25,1567.0
rust,100.0,250.89,77.941690,108.0,192.75,242.5,300.25,450.0

In [42]:
df.groupby('version')['voluntary_context_switches'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,1092187.22,61735.606875,800517.0,1081990.0,1100948.0,1121647.75,1189110.0
python,100.0,6927.15,1974.257106,3121.0,5120.0,6816.0,9176.25,9202.0
rust,100.0,5843.16,682.792406,1954.0,5967.0,5979.0,5984.00,6016.0

In [43]:
df.groupby('version')['filesystem_input_reads'].describe()

         count    mean          std  min  25%  50%  75%      max
version
jax      100.0  131.12  1311.200000  0.0  0.0  0.0  0.0  13112.0
python   100.0    0.40     4.000000  0.0  0.0  0.0  0.0     40.0
rust     100.0    2.64    19.989654  0.0  0.0  0.0  0.0    184.0

In [44]:
df.groupby('version')['filesystem_output_writes'].describe()

         count  mean       std  min  25%  50%  75%   max
version
jax      100.0  8.00  0.000000  8.0  8.0  8.0  8.0   8.0
python   100.0  8.16  1.125642  8.0  8.0  8.0  8.0  16.0
rust     100.0  8.00  0.000000  8.0  8.0  8.0  8.0   8.0

# Rewards

In [45]:
df = pd.read_csv(f'../data/{target}-rewards.csv').drop('seed', axis=1)
df.columns

Index(['version', 'training_steps', 'reward_mean', 'reward_std'], dtype='object')

In [46]:
df.groupby('version')['training_steps'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,100000.0,0.000000,100000.0,100000.0,100000.0,100000.0,100000.0
python,100.0,100000.0,0.000000,100000.0,100000.0,100000.0,100000.0,100000.0
rust,100.0,30020.0,15675.999799,2000.0,18750.0,28500.0,40000.0,75000.0

In [47]:
df.groupby('version')['reward_mean'].describe()

         count     mean       std         min    25%    50%    75%    max
version
jax      100.0    9.371  0.243831    8.600000    9.2    9.4    9.5    9.9
python   100.0    9.336  0.243510    8.600000    9.2    9.4    9.5    9.8
rust     100.0  498.551  5.631235  461.399994  500.0  500.0  500.0  500.0

In [48]:
df.groupby('version')['reward_std'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
jax,100.0,0.677783,0.146026,0.4,0.600000,0.663325,0.785769,1.118034
python,100.0,0.672377,0.150115,0.4,0.538516,0.663325,0.781025,1.118034
rust,100.0,3.718165,13.995776,0.0,0.000000,0.000000,0.000000,74.699989