In [70]:
import pandas as pd
target='new/cpu'

In [71]:
df = pd.read_csv(f'../data/{target}-times.csv')
df.columns

Index(['elapsed_real_time_seconds', 'kernel_cpu_seconds', 'user_cpu_seconds',
       'cpu_percentage', 'max_resident_set_size_kb',
       'avg_resident_set_size_kb', 'avg_total_memory_use_kb',
       'avg_unshared_data_area_kb', 'avg_shared_text_space_kb',
       'system_page_size_bytes', 'major_page_faults', 'minor_page_faults',
       'out_swaps', 'involuntary_context_switches',
       'voluntary_context_switches', 'filesystem_input_reads',
       'filesystem_output_writes', 'received_signals', 'command_name_args'],
      dtype='object')

In [72]:
df['version'] = df['command_name_args'].str.contains('rust').replace({True: "Rust", False:"Python"})

# Time and CPU

In [73]:
df.groupby('version')['elapsed_real_time_seconds'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,100.0,398.8410,282.302533,8.38,112.9050,442.285,608.3725,1120.30
Rust,100.0,348.3955,188.391305,35.95,239.5375,335.945,427.2175,882.79

In [74]:
df.groupby('version')['user_cpu_seconds'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,100.0,787.2399,561.127684,11.68,218.6700,873.240,1203.8575,2221.20
Rust,100.0,688.7216,374.356131,67.73,472.2125,661.845,845.1425,1750.66

In [75]:
df.groupby('version')['kernel_cpu_seconds'].describe()

         count    mean       std   min   25%    50%     75%   max
version
Python   100.0  1.8084  0.936418  0.36  0.92  2.035  2.4925  3.91
Rust     100.0  2.0331  0.800001  0.50  1.62  2.045  2.4125  4.20

In [76]:
df['cpu_percentage'] = df['cpu_percentage'].str[:-1].astype(int)
df.groupby('version')['cpu_percentage'].describe()

         count    mean        std    min    25%    50%    75%    max
version
Python   100.0  192.15  13.224079  115.0  193.5  197.0  198.0  198.0
Rust     100.0  197.20   1.632993  189.0  197.0  198.0  198.0  198.0

# Memory

'max_resident_set_size_kb',
'system_page_size_bytes',
'major_page_faults',
'minor_page_faults',
'involuntary_context_switches',
'voluntary_context_switches', 
'filesystem_input_reads',
'filesystem_output_writes',

In [77]:
df.groupby('version')['max_resident_set_size_kb'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,100.0,462229.08,3748.398903,454560.0,459504.0,462202.0,464763.0,468996.0
Rust,100.0,410198.16,2558.237867,402964.0,408296.0,410108.0,412125.0,415796.0

In [78]:
df.groupby('version')['major_page_faults'].describe()

         count   mean    std  min  25%  50%  75%     max
version
Python   100.0   1.64   16.4  0.0  0.0  0.0  0.0   164.0
Rust     100.0  20.87  208.7  0.0  0.0  0.0  0.0  2087.0

In [79]:
df.groupby('version')['minor_page_faults'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,100.0,137241.07,26210.509680,92480.0,122247.75,127965.5,154636.75,199948.0
Rust,100.0,175080.69,38612.695264,127162.0,147752.25,155407.0,210447.75,271583.0

In [80]:
df.groupby('version')['involuntary_context_switches'].describe()

         count     mean         std    min    25%     50%      75%     max
version
Python   100.0  1218.90  709.140261  171.0  516.0  1374.0  1746.00  2970.0
Rust     100.0   886.26  384.276432  232.0  661.0   866.0  1037.25  2010.0

In [81]:
df.groupby('version')['voluntary_context_switches'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,100.0,10359.84,928.311509,6821.0,10211.00,10771.0,10825.25,10948.0
Rust,100.0,5060.68,1674.114437,1927.0,5805.75,5863.5,5890.00,10468.0

In [82]:
df.groupby('version')['filesystem_input_reads'].describe()

         count     mean           std  min  25%  50%  75%       max
version
Python   100.0   891.76   8917.600000  0.0  0.0  0.0  0.0   89176.0
Rust     100.0  6601.44  65848.141558  0.0  0.0  0.0  0.0  658496.0

In [83]:
df.groupby('version')['filesystem_output_writes'].describe()

         count  mean  std  min  25%  50%  75%   max
version
Python   100.0  8.00  0.0  8.0  8.0  8.0  8.0   8.0
Rust     100.0  8.08  0.8  8.0  8.0  8.0  8.0  16.0

# Rewards

In [84]:
df = pd.read_csv(f'../data/{target}-rewards.csv').drop('seed', axis=1)
df.columns

Index(['version', 'training_steps', 'reward_mean', 'reward_std'], dtype='object')

In [85]:
df.groupby('version')['training_steps'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
python,100.0,153140.0,100716.726465,2000.0,50250.00,177000.0,230000.0,382000.0
rust,100.0,136712.8,63599.826027,16863.0,102909.75,136425.0,166902.5,317162.0

In [86]:
df.groupby('version')['reward_mean'].describe()

         count     mean        std    min    25%    50%    75%    max
version
python   100.0  491.078  21.958618  394.9  500.0  500.0  500.0  500.0
rust     100.0  490.613  34.257129  268.0  500.0  500.0  500.0  500.0

In [87]:
df.groupby('version')['reward_std'].describe()

         count       mean        std  min  25%  50%  75%         max
version
python   100.0  12.902874  29.341298  0.0  0.0  0.0  0.0  160.548092
rust     100.0  14.880336  46.717500  0.0  0.0  0.0  0.0  205.002350