In [1]:
import pandas as pd
target='cpu'

In [2]:
df = pd.read_csv(f'../data/{target}-times.csv')
df.columns

Index(['elapsed_real_time_seconds', 'kernel_cpu_seconds', 'user_cpu_seconds',
       'cpu_percentage', 'max_resident_set_size_kb', 'system_page_size_bytes',
       'major_page_faults', 'minor_page_faults',
       'involuntary_context_switches', 'voluntary_context_switches',
       'filesystem_input_reads', 'filesystem_output_writes',
       'command_name_args'],
      dtype='object')

In [3]:
df['version'] = df['command_name_args'].str.contains('rust').replace({True: "Rust", False:"Python"})

# Time and CPU

In [4]:
df.groupby('version')['elapsed_real_time_seconds'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,94.0,540.387021,377.582680,10.90,183.030,588.255,829.395,1467.28
Rust,95.0,366.380211,353.793047,13.99,59.595,158.970,846.225,884.24

In [5]:
df.groupby('version')['user_cpu_seconds'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,94.0,1068.097128,750.342191,15.39,358.095,1162.66,1643.0225,2909.79
Rust,95.0,715.715263,693.506809,24.42,114.035,308.96,1666.9900,1711.53

In [6]:
df.groupby('version')['kernel_cpu_seconds'].describe()

         count      mean       std   min     25%   50%     75%    max
version
Python    94.0  2.233936  1.167071  0.42  1.1225  2.51  3.0975   4.75
Rust      95.0  4.682737  4.109160  0.37  1.1900  2.60  9.3350  12.35

In [7]:
df['cpu_percentage'] = df['cpu_percentage'].str[:-1].astype(int)
df.groupby('version')['cpu_percentage'].describe()

         count        mean        std    min     25%    50%    75%    max
version
Python    94.0  193.521277  12.623352   95.0  195.25  198.0  198.0  198.0
Rust      95.0  194.126316   4.167356  177.0  193.00  195.0  196.5  198.0

# Memory

'max_resident_set_size_kb',
'system_page_size_bytes',
'major_page_faults',
'minor_page_faults',
'involuntary_context_switches',
'voluntary_context_switches', 
'filesystem_input_reads',
'filesystem_output_writes',

In [8]:
df.groupby('version')['max_resident_set_size_kb'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,94.0,461984.595745,3909.417929,453644.0,458886.0,462256.0,464796.0,469492.0
Rust,95.0,485455.663158,36266.956151,401960.0,457112.0,490732.0,519120.0,526136.0

In [9]:
df.groupby('version')['major_page_faults'].describe()

         count       mean         std  min  25%  50%  75%     max
version
Python    94.0   1.851064   17.332273  0.0  0.0  0.0  0.0   168.0
Rust      95.0  21.947368  213.812822  0.0  0.0  0.0  0.0  2084.0

In [10]:
df.groupby('version')['minor_page_faults'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,94.0,1.431710e+05,2.891389e+04,86686.0,124045.75,130831.5,168662.5,204487.0
Rust,95.0,1.477635e+06,1.298121e+06,114000.0,380434.00,714924.0,2683219.5,4322251.0

In [11]:
df.groupby('version')['involuntary_context_switches'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,94.0,1598.574468,948.952172,197.0,722.75,1741.0,2289.25,3859.0
Rust,95.0,1504.978947,1362.550018,148.0,336.00,720.0,3342.00,3572.0

In [12]:
df.groupby('version')['voluntary_context_switches'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
Python,94.0,9183.138298,1635.350922,4537.0,7840.5,10262.5,10427.75,11023.0
Rust,95.0,37250.400000,38423.317224,1969.0,6212.0,14107.0,72549.50,106222.0

In [13]:
df.groupby('version')['filesystem_input_reads'].describe()

         count         mean           std  min  25%  50%  75%       max
version
Python    94.0   982.978723   9266.067646  0.0  0.0  0.0  0.0   89840.0
Rust      95.0  6932.715789  67553.507935  0.0  0.0  0.0  0.0  658432.0

In [14]:
df.groupby('version')['filesystem_output_writes'].describe()

         count      mean       std  min  25%  50%  75%   max
version
Python    94.0  8.000000  0.000000  8.0  8.0  8.0  8.0   8.0
Rust      95.0  8.084211  0.820783  8.0  8.0  8.0  8.0  16.0

# Rewards

In [15]:
df = pd.read_csv(f'../data/{target}-rewards.csv').drop('seed', axis=1)
df.columns

Index(['version', 'training_steps', 'reward_mean', 'reward_std'], dtype='object')

In [16]:
df.groupby('version')['training_steps'].describe()

,count,mean,std,min,25%,50%,75%,max
version,,,,,,,,
python,94.0,155872.340426,101629.755405,2000.0,60000.0,177000.0,233750.0,382000.0
rust,95.0,50173.736842,37164.192943,3000.0,17000.0,30000.0,99981.0,100000.0

In [17]:
df.groupby('version')['reward_mean'].describe()

         count    mean         std    min     25%    50%    75%    max
version
python    94.0  492.90   17.613845  400.3  500.00  500.0  500.0  500.0
rust      95.0  355.68  215.605888    9.3   41.85  500.0  500.0  500.0

In [18]:
df.groupby('version')['reward_std'].describe()

         count       mean        std  min  25%  50%       75%         max
version
python    94.0  13.597736  32.720154  0.0  0.0  0.0  0.000000  152.370634
rust      95.0   8.424660  28.816467  0.0  0.0  0.0  1.266884  194.000519